<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySuite">
    <listeners>
    <listener class-name="com.hrmproject.utilities.ListenerClass"></listener>
    </listeners>
    <test name="login">
    <parameter name="browser" value="chrome"></parameter>
    <groups>
	    <run>
	      <include name="smoke"></include>
	    </run>
    </groups>
        <classes>
            <class name="com.hrmproject.tests.LoginTest"/>
        </classes>
    </test>
</suite>
